{% extends 'articles/home.html' %}
{% block content %}
<hr>
<div class="container-fluid", style="margin-top: 20px;">
    <div class="row">
        <div class="card-header border-0">
            <img src="https://www.seekpng.com/png/detail/349-3499598_portrait-placeholder-placeholder-person.png" alt="" height="250" width="240">
        </div>
        <div class="card-block px-2" style="margin-top: 10px">
            <h4 class="card-title" style="margin-left: 10px; margin-top: 10px;">{{user.username|title}}</h4>
            <h4 class="card-title" style="margin-left: 10px; margin-top: 10px;">{{user.email}}</h4>
            <h4 class="card-title" style="margin-left: 10px; margin-top: 10px;">{{user_profile.number}}</h4>
        </div>
    </div>
</div>
<div class="container-fluid", style="margin-top: 20px;">
		<div class="row">
			{% for article in Articles %}
    		<div class="card" style="width: 18rem; margin: 30px">
			  <img class="card-img-top" src="{{article.imgLink}}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{article.title}}</h5>
			    <p class="card-text">{{article.description|truncatechars:100}}</p>
			    <a href="../articles/{{article.id}}" class="btn btn-primary">Открыть целиком</a>
			  </div>
			</div>
			{% endfor %}
		</div>
	</div>
<hr>

{% endblock content %}